<div class="row">
    <div class="col-sm-12">

        

        <div class="row" style="margin-top: 50px;">
            <div class="col-sm-3"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <a routerLink="emplogin" style="margin-left: 30px;text-decoration: none;color: #0957b0;font-weight: bold;">Employee Login</a>
                <a routerLink="patilogin" style="margin-left: 30px;text-decoration: none;color: #0957b0;font-weight: bold;">Patient Login</a>
                
            </div>
            <div class="col-sm-3"></div>
        </div>
        

        

        <div class="row">
            <div class="col-sm-12">
                <router-outlet></router-outlet>
            </div>
        </div>

        
<br />
<br />
<br />
<br />

    </div>
</div>