<div class="row">
    <div class="col-sm-12">


        <div class="row" style="margin-top: 50px;">
            <div class="col-sm-2"></div>
            <div class="col-sm-2">
                
            </div>
            <div class="col-sm-3">
                Please 
                <input type="button" id="btn-act" value="ClickHere" class="btn btn-danger" (click)="btn_Activate()" >
                To Activate
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</div>