<div class="row" *ngIf="flagAnonymous">
  <div class="col-sm-12">

    <!-- Header Section -->
    <div class="row" style="background-color: #f1e5b7;height: 65px;padding-top: 10px;font-size: large;">
      <div class="col-sm-1"></div>
      <div class="col-sm-1">
        
      </div>
      <div class="col-sm-7" style="margin-top: 10px;">
        <a routerLink="home" style="margin-left: 30px;text-decoration: none;color: #0957b0;font-weight: bold;">Home</a>&nbsp;&nbsp;&nbsp;
        <a routerLink="login" style="margin-left: 30px;text-decoration: none;color: #0957b0;font-weight: bold;">Login</a>&nbsp;&nbsp;&nbsp;
        <a routerLink="about" style="margin-left: 30px;text-decoration: none;color: #0957b0;font-weight: bold;">AboutUs</a>&nbsp;&nbsp;&nbsp;
        <a routerLink="contact" style="margin-left: 30px;text-decoration: none;color: #0957b0;font-weight: bold;">ContactUs</a>&nbsp;&nbsp;&nbsp;
               <!-- <a routerLink="active" style="margin-left: 30px;text-decoration: none;color: #0957b0;font-weight: bold;">Active</a> -->
      </div>
      <div class="col-sm-3">
        <img style="width:35px;margin-left: 65px;" src="Images/cart.png" />
        <img style="width:35px;margin-left: 65px;" src="Images/login.png" />
      </div>
    </div>


    <div class="row">
      <div class="col-sm-12">
        <router-outlet></router-outlet>
      </div>
    </div>

    </div>
</div>


<div class="row" *ngIf="flagSecure">
  <div class="col-sm-12">

    <div class="row">
      <div class="col-sm-12">
    
        <!-- Header Section -->
        <div class="row" style="background-color: #a9e1a9;height: 65px;padding-top: 10px;font-size: large;">
          <div class="col-sm-1"></div>
          <div class="col-sm-1">
            
          </div>
          <div class="col-sm-10" style="margin-top: 10px;text-align: right;">
            <div>
              <input type="button" value="Logout" class="btn btn-danger" (click)="btn_LogoutClick()"  />
            </div>
          </div>        
        </div>
      </div>
      </div>
    

   
    <div class="row" >
      <div class="col-sm-2" *ngIf="flagRec" style="background-color: green;height: 350px;">
        <div class="row" >
          <div class="col-sm-12">
            <a routerLink="receptionpro">Reception</a>
          </div>
        </div>

      </div>

      <div class="row" >
        <div class="col-sm-2" *ngIf="flagHelp" style="background-color: green;height: 350px;">
          <div class="row" >
            <div class="col-sm-12">
              <a routerLink="helperpro">Reception</a>
            </div>
          </div>
  
        </div>
  

      <div class="col-sm-10">
        <router-outlet></router-outlet>
      </div>
    </div>



  </div>
</div>
